
/* common css */


body{
    font-family: "Poppins", sans-serif;
    
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}

.common_title h2{
    
    font-size: 48px;
    color: #282938;
    font-weight: 600;
    

}
.common_title p{

    font-size: 16px;
    color: #282938;
    font-weight: 400;
    
    width: 405px;
    padding: 16px 0px;

}
.common_title a{
    font-size: 16px;
    color: #2405F2;
    font-weight: 400;
  
  

}
/* common css */
/* ============
navber part start
============== */
nav{
    background: #1C1E53;
    padding: 30px 0px !important;
}
.navbar-nav{
    column-gap: 32px;
    padding-right: 48px;

}

.nav-link{
    color:#BBBBCB;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transform: .4s;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nav-link:hover{
    color: white;
}


.navber_button{
    background: transparent;
    text-decoration: none;
    padding: 16px 46px;
    border-radius: 40px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: 1px solid white;
    transition: 0.4s;
    
}
.navber_button:hover{
    background: #FCD980;
    border: 1px solid transparent;
    color: black;
    
    
}

 
/* ============
navber part end
============== */
/* ============
banner  part stgart
============== */

.banner{
    background: #1C1E53;
    padding: 200px 0px;
}

.banner h2{
    font-size: 54px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 600;
    line-height: 72px;
}
.banner p{
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 500;
    line-height: 28px;
    width: 500px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.banner .banner_button{
    background: #FCD980;
   
    padding: 16px 56px;
    border-radius: 40px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    transition: 0.4s;
    border: 1px solid transparent;
   

}

.banner .banner_button:hover{
    background: transparent;
    border-color: white;
    color: white;

    

}
.banner .banner_button2{
    text-decoration: none;
    padding: 16px 56px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    

}
.banner .banner_button2{
    position: relative;
}
.banner .banner_button2 .buttonIcon {
    position: absolute;
    top: 22px;
    right: 56px;
    opacity: 0;
}
.banner .banner_button2:hover .buttonIcon {
    
    right: 22px;
    opacity: 1;
}
/* ============
banner  part end
============== */
/* ============
work  part staret
============== */
.work{
    padding: 128px 0px;
    background: #F4F6FC;
}
.work .box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

.work .card{
    width: 50%;
    background: transparent;
    border: 0px;
   
}
.work .card img{
    width: 20%;
   
}
.work .card h4{
    font-size: 32px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 8px;
   
}
.work .card p{
    font-size: 16px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 301px;
   
}



/* ============
work  part end
============== */
/* ============
Project  part start
============== */
.project{
    padding: 128px 0px;
}
.project .box{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 64px;
}
.project .box h2{
    font-size: 48px;
   
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.project .box p{
    margin-top: 12px; 
    font-size: 16px;
   
    color:black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.project p i{
   margin-left: 10px;   
}

.project img{
    width: 100%;
}
.project .imgage_box{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.project .imageTwo{
    margin-left: 9px;
}

.project .fastImage{
    position: relative;
    overflow: hidden;

  
}

.project .overly{
    width: 52%;
    height: 100%;
    background-image:linear-gradient(to right, #1c1e536b, #1C1E53 );
    position: absolute;
    top: 0;
    left: -52%;
    transition: .4s;
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 36px;
   
}

.project .fastImage:hover .overly{
    left: 0;

}

.project .fastImage .overly h4{
    font-size: 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    
}
.project .fastImage .overly p{
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 30px;
    line-height: 28px;
}
.project .fastImage .overly a{
    font-size: 16px;
    color: #FCD980;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.project .fastImage .overly a i{
    margin-left: 10px;
}
/* ============
Project  part end
============== */
/* ============
Featuer  part start
============== */
.featuer {
    background: #F4F6FC;
    padding: 128px 0px;
}

 .featuer .featuer_common_title h2{
    width: 620px;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    padding-top: 16px;
    padding-bottom: 47px;
 }
 .featuer .featuer_common_title p{
    width: 485px;
    margin: 0 auto;
    text-align: center;
 }

 .featuer .featuer_Card{
    width: 100%;
    
    background: #fff;

    padding-top: 58px;
    padding-left: 48px;
    padding-bottom: 48px;
    padding-right: 32px;
 }
 .featuer .featuer_Card h4{
    padding-top: 22px;
    padding-bottom: 12px;
    color: #282938;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
 }
 .featuer .featuer_Card p{
    color: #282938;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
   
 }
 
/* ============
Featuer  part end
============== */
/* ============
ablut  part start
============== */

.about{
    padding: 130px 0px;
    background: rgba(244, 246, 252,0.5);
}

.about h2{
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    color: #282938;
    font-weight: 600;
    width: 327px;
}
.about .para_one{
    padding-top: 16px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #282938;
    font-weight: 400;
    width: 327px;
}
.about h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
    line-height: 48px;


}

.about .profile-area{
    display: flex;
    align-items: flex-start;
    column-gap: 14px;
    padding-top: 48px;
}
.about .profile-area h6{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
   

}
.about .profile-area .para_two{
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
   

}
/* ============
ablut  part end
============== */
/* ============
Faq  part start
============== */

.faq{
    padding: 128px 0px;
}

.accordion-header .span{
    padding-right: 40px;
    font-size: 20px;
    color: blue;
}
.accordion-button{
    font-size: 24px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


.accordion-button.collapsed{
    
    color: #000 !important;

    
}
.accordion-button{
    
    color: #fff !important;
   

}
.accordion-item{
    border: 0px !important;
}
.accordion-body{
    border-bottom: 1px solid #ECECF1;
    padding-left: 74px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 48px;
    font-size: 18px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    


}


 .accordion-button::after{  
    background-image: none;
    content: "+";
    
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.accordion-button:not(.collapsed)::after{    
    background-image: none;
    content: "x";
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);

} 
/* ============
Faq  part end
============== */
/* ============
Blog  part start
============== */
.blog{
    padding: 128px 0px;
}
.blog h2{
    font-size: 48px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.blog .card{
    width: 100% !important;
    border: 0px !important;
}
.blog .card-body{
    padding: 0 !important;
}

.blog .card-text-one{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
    padding-top: 40px;

}
.blog .card-title{
    font-size: 24px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}
.blog .card-text-two{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;

}
.blog .read-button{
    font-size: 18px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   
    

}
.blog .read-button i{
  padding-left: 30px;
   
    

}
/* ============
Blog  part end
============== */
/* ============
contact  part start
============== */

.contact .contact-image-box{
    position: relative;
    overflow: hidden;
    height: 100% !important;
    
}

.contact .contact-image-box img{
    width: 100%;
    height: 100%;
}

.contact .contact-image-box .overly{
    width: 100%;
    height: 100%;
    background: rgba(28, 30, 83,0.5);
    position: absolute;
    top: 100%;
    left: 100%;
    padding: 96px;
    transition: .4s;
}
.contact .contact-image-box .overly h2{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-bottom: 24px;
 
}
.contact .contact-image-box .overly p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    
 
}
.contact .contact-image-box:hover .overly{
    top: 0;
    left: 0;

}
.contact .all-input-fleid{
    padding: 96px;
}
.contact .all-input-fleid h4{
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;

    
}
.contact .all-input-fleid p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    
}
.contact .box{
    background: #1C1E53;
}

.contact .all-input-fleid input{
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255,0.05);
    padding: 18px 32px;
    margin: 16px 0px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: "Poppins", sans-serif;

}
.contact .all-input-fleid input::placeholder{
    font-size: 16px;
    color: #F4F6FC;
}
.contact .all-input-fleid .contact-button{
    background: #FCD980;
    width: 100%;
    padding: 16px 0px;
    border-radius: 41px;
}
.contact .all-input-fleid .contant-icon{
    text-align: center;
    padding-top: 30px;
}




/* ============
contact  part end
============== */
/* ============
Footer  part start
============== */

.footer{
    background: #1C1E53;
    padding-top: 100px;
    padding-bottom: 96px;
}
.footer p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    
    
    

}
.footer .paraOne{
    padding-top: 22px;
    width: 400px;
}
.footer .paraTwo{
    width: 400px;

}
.footer h4{
    color: white;

}
.footer ul{
    display: flex;
    column-gap: 26px;
    padding: 0;
}
.footer ul li i{
    color: white;
}


.footer .add-box{
    display: flex;
    justify-content: space-around;
    background: #FCD980;
    width: 517px;
    padding: 16px 0px;
    position: absolute;
    bottom: -96px;
    left: 0;
}

.footer .add-box h6{
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
}
.footer .add-box p{
    font-size: 18px;
    font-weight: 400;
    color: #282938;
    font-family: "Poppins", sans-serif;
}
.copy .box{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}


.copy ul{
    display: flex;
    column-gap: 32px;
}

.copy ul li{
    font-size: 18px;
    color: black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    cursor: pointer;
}
.copy ul li:hover{
    color: red;
}

/* ============
Footer  part end
============== */